body{
	background-color:grey;
}
#headWrapper
{
	background-color: blue;
	font-size: 15px;
	font-family: "Lucida Console", Lucida, monospace;
	text-align: center;
}
h1
{	font-family: "Times New Roman", Times, serif;


}
#menu
{
	background-color: orange;
text-align: center;
}
#textWrapper{
	background-color: green;
	font-family: "lucida sans unicode", "lucida grande", sans-serif




}
